<h1>
    Books:
</h1>

{% for book in books %}
    {% for category in book.category.all %}
        {% load static %}
        <div>
            {% if book.image %}
                <p>ЭТО МЕДИА ФАЙЛ, ЕСЛИ ВЫ ВЫИДИТЕ ЭТО ТО У КНИГИ ЕСТЬ КАРТИНКА</p>
                <img src="/media/{{ book.image }}" alt="book">
            {% else %}
                <p>Это СТАТИК ФАЙЛ, ЕСЛИ ВЫ ВИДИТЕ ЭТО ТО У КНИГИ НЕТ КАРТИНКИ</p>
                <img src="{% static 'meme.jpeg' %}" alt="static">
            {% endif %}
            <h1>Название: {{ book.title }}</h1>
            <h1>Категория: {{ category.title }}</h1>
            <p>Год релиза: {{ book.released }}</p>
            <p>Оценка: {{ book.rate }}</p>
            <a href='/book/{{ book.id }}'>Read more</a>
        </div>
    {% endfor %}
{% endfor %}
