<h1>
    Book:
</h1>
{% load static %}
<div>
    {% if book.image %}
        <p>ЭТО МЕДИА ФАЙЛ, ЕСЛИ ВЫ ВЫИДИТЕ ЭТО ТО У КНИГИ ЕСТЬ КАРТИНКА</p>
        <img src="/media/{{ book.image }}" alt="book">
    {% else %}
        <p>Это СТАТИК ФАЙЛ, ЕСЛИ ВЫ ВИДИТЕ ЭТО ТО У КНИГИ НЕТ КАРТИНКИ</p>
        <img src="{% static 'meme.jpeg' %}" alt="static">
    {% endif %}
    <h3>Название:{{ book.title }}</h3>
    <p>Описание книги: {{ book.description }}</p>
    <p>Год выпуска книги: {{ book.released }}</p>
    <p>Оценка книге: {{ book.rate }}</p>
    <a href="/books/">Back to main page</a>
</div>

<h2>
    Comments:
</h2>
{{ book.review }}

<h2>
    Tags:
</h2>

{% for tag in book.tag.all %}
    <p>
        <a href="">{{ tag.title }}</a>
    </p>
{% endfor %}
